<style>
.nyan-cat-container {
            width: 100vw;
            height: 50vh;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        img {
            max-width: 100%;
            height: 100%;
            border: none;
        }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.test {
    font-size: 3.5em;
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Pacifico', cursive;
    padding: 0.5em 0.2em 0.8em 0.5em;
    background: linear-gradient(109.6deg, rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.test:hover {
    color: transparent;
    background: 
      linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
      0 0/200% 100%;
    background-clip: text;
    -webkit-background-clip: text; 
    animation: a 2s linear infinite;
}

@keyframes a {
    to {
        background-position: -200% 0;
    }
}

.image {
    margin: 30px;
    background: url("{{ url_for('static', filename='img/meme/gigachad.png') }}") no-repeat center center;
    background-size: cover;
    height: auto;
    width: 100%;
    max-width: 700px; 
    aspect-ratio: 4/3; 
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.gradient {
    background: linear-gradient(to bottom, #ff0000 0%, #00ff00 33%, #0000ff 66%, #ff0000 100%);
    opacity: 0.35;
    height: 100%; 
    width: 100%;
    animation: colorscroll 4s linear infinite;
}

@keyframes colorscroll {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 600px;
    }
}

@media (max-width: 768px) {
        .test {
            font-size: 2em; /* Adjusted font size for tablet view */
        }

        .image {
            max-width: 100%;
            height: auto;
        }
    }

    @media (max-width: 480px) {
        .test {
            font-size: 1.5em; /* Further reduced font size for mobile */
        }

        .image {
            max-width: 100%;
            height: auto;
        }
    }

</style>

{% extends 'layouts/main.html' %}
{% block title %}Congrats{% endblock %}
{% block content %}

<audio autoplay id="myaudio">
  <source src="{{ url_for('static', filename='sound/giga-chad-theme.mp3') }}">
</audio>

<script>
myAudio = new Audio("{{ url_for('static', filename='sound/giga-chad-theme.mp3') }}"); 
if (typeof myAudio.loop == 'boolean')
{
    myAudio.loop = true;
}
else
{
    myAudio.addEventListener('ended', function() {
        this.currentTime = 0;
        this.play();
    }, false);
}
myAudio.play();
</script>

<div class="container">
    <div class="nyan-cat-container">
        <iframe src="http://cristurm.github.io/nyan-cat/" title="Nyan Cat"></iframe>
    </div>

    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" class="test" target="_blank">
        ✨Naga Aditya✨
    </a>

    <div class="image">
        <div class="gradient"></div>
    </div>

    <div class="nyan-cat-container">
        <img src="https://art.pixilart.com/4b680819d6447f3.gif" alt="nyan" width=>
    </div>

</div>

{% endblock %}