<style>
.test {
  font-size: 3.5em;
  border-radius: 20px;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  padding: 0.5em 0.2em 0.8em 0.5em;
  background: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
  background-clip: text;
  -webkit-background-clip: text; 
  color: transparent;
}

.test:hover {
  color: transparent;
  background: 
   linear-gradient(to right, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%) 
   0 0/200% 100%;
  background-clip: text;
  -webkit-background-clip: text; 
  animation: a 2s linear infinite;
}

@keyframes a {
  to {background-position:-200% 0}
}

.image {
    margin-top: 30px;
    background: url("{{ url_for('static', filename='img/meme/gigachad.png') }}");
    background-size: cover;
    height: 311;
    width: 394;
}
.gradient {
    background: linear-gradient(to bottom,  #ff0000 0%,#00ff00 33%,#0000ff 66%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
    background-position: 0 0;
    opacity: .35;
    height: 311;
    width: 394;
    animation: colorscroll 4s linear infinite;
}

@keyframes colorscroll {
    from {background-position: 0 0;}
    to {background-position: 0 600px;}
}
</style>

{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<a href="https://www.instagram.com/njctabletennis/" class="test" target="_blank">
  ✨Naga Aditya✨
</a>

<div class="image">
    <div class="gradient"></div>
</div>

{% endblock %}