
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
footer svg {
  vertical-align: -.125em;
  fill: currentColor;
  width: 30px;
  height: 30px;
}

#head {
  position: fixed;
  display: table;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  z-index: 1;
  background-color: white;
}

#content {
  margin-top: 50px;
}

.flash-container {
  margin: 15px auto;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  filter: contrast(1.5);
}
.flash-success {
  background-color: #9bfdb2;
  color: #155724;
  border: 1px solid #d5d7d6;
}
.flash-error {
  background-color: #ff7575;
  color: #721c24;
  border: 1px solid #dbd9da;
}
.flash-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}
.flash-info {
  background-color: #e7e7e7;
  color: #0c5460;
  border: 1px solid #c1c1c1;
}


/* Main elements end */

.standout {
  text-transform: uppercase;
	background: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}